In [1]:
import pandas as pd
import numpy as np
from pathlib import Path
from sqlalchemy import create_engine, text
from dotenv import load_dotenv
load_dotenv(dotenv_path='data/.env')
import os

In [2]:
DIR_WORKSPACE = Path.cwd().parent.parent
DIR_DATA = DIR_WORKSPACE / "data"
DIR_REPORTS_CSV = DIR_DATA / "csv_files"
DIR_OUTPUT = DIR_DATA / "master_csv"

In [17]:
df=pd.read_csv(DIR_OUTPUT / r"C:\Users\Geoffrey-RISA\Documents\GitHub\AIMS-DSCBI-WEEK-3\mse-api-assignment-Geo\data\master_csv\master_csv.csv")
df.head()

,Unnamed: 0,counter_id,daily_range_high,daily_range_low,ticker,buy_price,sell_price,previous_closing_price,today_closing_price,volume_traded,...,dividend_yield_pct,earnings_yield_pct,pe_ratio,pbv_ratio,market_capitalization_mkmn,profit_after_tax_mkmn,num_shares_issue,trade_date,print_time,name
0,0,1,138.97,137.94,AIRTEL,0,137.96,138.54,137.98,79004.0,...,1.45,2.81,35.53,47.26,1517780,42722.11,1.100000e+10,9/19/2025,14:37:47,AIRTEL MALAWI PLC
1,1,2,15.02,15.02,BHL,15.02,0,15.02,15.02,7042.0,...,0.00,-1.55,-64.44,1.36,88291.39,-1370.11,5.878255e+09,9/19/2025,14:37:47,BLANTYRE HOTELS PLC
2,2,3,637.95,637.91,FDHB,635,637.92,637.95,637.93,101411.0,...,0.74,1.68,59.44,45.2,4402374.87,74063.00,6.901031e+09,9/19/2025,14:37:47,FDH BANK PLC
3,3,4,1897.99,1897.99,FMBCH,1897.99,0,1897.99,1897.99,15133.0,...,0.19,2.53,39.45,14.18,4665733.92,118254.74,2.458250e+09,9/19/2025,14:37:47,FMB CAPITAL HOLDINGS PLC
4,4,5,17.94,17.94,ICON,0,17.94,17.94,17.94,18168.0,...,1.62,20.38,4.91,0.82,119839.2,24424.49,6.680000e+09,9/19/2025,14:37:47,ICON PROPERTIES PLC

In [19]:
companies={'AIRTEL':'Airtel Malawi plc', 
       'BHL':'Blantyre Hotels Plc', 
       'FDHB':'FDH Bank plc', 
       'FMBCH':'FMB Capital Holdings plc', 
       'ICON':'ICON Properties plc',
       'ILLOVO':'Illovo Sugar Malawi plc', 
       'MPICO':'Malawi Property Investment Company plc',
       'NBM':'National Bank of Malawi',
       'NBS':'NBS Bank plc', 
       'NICO':'NICO Holdings plc',
       'NITL':'National Investment Trust Plc',
       'OMU':'Old Mutual Limited', 
       'PCL':'Press Corporation plc', 
       'STANDARD':'Standard Bank Malawi plc',
       'SUNBIRD':'Sunbird Tourism plc',
       'TNM':'Telekom Networks Malawi plc',
       'OML':'Old Mutual Limited', 
       'MPICO CD':'Malawi Property Investment Company plc',
       'NBM CD':'National Bank of Malawi', 
       'NICO CD':'NICO Holdings plc', 
       'PCL CD':'Press Corporation plc',
       'Standard CD':'Standard Bank Malawi plc',
       'Sunbird CD':'Sunbird Tourism plc',
       'TNM CD':'Telekom Networks Malawi plc', 
       'MPICO TS':'Malawi Property Investment Company plc', 
       'BHL CD':'Blantyre Hotels Plc',
       'BHL XD':'Blantyre Hotels Plc', 
       'NITL XD':'National Investment Trust Plc',
       'NITL CD':'National Investment Trust Plc',
       'NBS TS':'NBS Bank plc', 
       'NICO TS':'NICO Holdings plc', 
       'Sunbird':'Sunbird Tourism plc',
       'PCL TS':'Press Corporation plc',
       'Sunbird H':'Sunbird Tourism plc',
       'SUNBIRD H':'Sunbird Tourism plc',
       'StandardCD':'Standard Bank Malawi plc', 
       'SUNBIRDCD':'Sunbird Tourism plc', 
       'NITL TS':'National Investment Trust Plc',
       'SUNBIRD TS':'Sunbird Tourism plc',
       'TNM TS':'Telekom Networks Malawi plc',
       'NBM XD':'National Bank of Malawi',
       'StandardTS':'Standard Bank Malawi plc',
       'TNM TS XD':'Telekom Networks Malawi plc', 
       'TNM TS CD':'Telekom Networks Malawi plc',
       'FMB CA':'FMB Capital Holdings plc', 
       'Sunbird XD':'Sunbird Tourism plc',
       'PCL XD':'Press Corporation plc',
       'MPICO XD':'Malawi Property Investment Company plc',
       'NICO XD':'NICO Holdings plc',
       'Standard XD':'Standard Bank Malawi plc',
       'TNM XD':'Telekom Networks Malawi plc',
       'FMBTS CA XD':'FMB Capital Holdings plc', 
       'Sunbird TS':'Sunbird Tourism plc',
       'FMBTS CA CD':'FMB Capital Holdings plc', 
       'SunbirdXD TS':'Sunbird Tourism plc',
       'SunbirdCD TS':'Sunbird Tourism plc',
       'NBS-LA*':'NBS Bank plc'}

In [20]:
def company(row):
    return companies[row['ticker']].upper()
df['name']=df.apply(company,axis=1)
df = df.rename(columns={"ticker": "ticker"})
df.head()

,Unnamed: 0,counter_id,daily_range_high,daily_range_low,ticker,buy_price,sell_price,previous_closing_price,today_closing_price,volume_traded,...,dividend_yield_pct,earnings_yield_pct,pe_ratio,pbv_ratio,market_capitalization_mkmn,profit_after_tax_mkmn,num_shares_issue,trade_date,print_time,name
0,0,1,138.97,137.94,AIRTEL,0,137.96,138.54,137.98,79004.0,...,1.45,2.81,35.53,47.26,1517780,42722.11,1.100000e+10,9/19/2025,14:37:47,AIRTEL MALAWI PLC
1,1,2,15.02,15.02,BHL,15.02,0,15.02,15.02,7042.0,...,0.00,-1.55,-64.44,1.36,88291.39,-1370.11,5.878255e+09,9/19/2025,14:37:47,BLANTYRE HOTELS PLC
2,2,3,637.95,637.91,FDHB,635,637.92,637.95,637.93,101411.0,...,0.74,1.68,59.44,45.2,4402374.87,74063.00,6.901031e+09,9/19/2025,14:37:47,FDH BANK PLC
3,3,4,1897.99,1897.99,FMBCH,1897.99,0,1897.99,1897.99,15133.0,...,0.19,2.53,39.45,14.18,4665733.92,118254.74,2.458250e+09,9/19/2025,14:37:47,FMB CAPITAL HOLDINGS PLC
4,4,5,17.94,17.94,ICON,0,17.94,17.94,17.94,18168.0,...,1.62,20.38,4.91,0.82,119839.2,24424.49,6.680000e+09,9/19/2025,14:37:47,ICON PROPERTIES PLC

In [21]:
df_prices=df.copy()

In [7]:

df=pd.read_csv(r"C:\Users\Geoffrey-RISA\Documents\GitHub\AIMS-DSCBI-WEEK-3\mse-api-assignment-Geo\data\master_csv\site_data.csv")
ids={}
for ticker, id in zip(df['Company Name'].values,df['ISIN'].values):
    ids[ticker]=id
df_prices['counter_id']=df_prices['name'].apply(lambda x:ids[x])
df_prices.head()

,Unnamed: 0,counter_id,daily_range_high,daily_range_low,ticker,buy_price,sell_price,previous_closing_price,today_closing_price,volume_traded,...,dividend_yield_pct,earnings_yield_pct,pe_ratio,pbv_ratio,market_capitalization_mkmn,profit_after_tax_mkmn,num_shares_issue,trade_date,print_time,name
0,0,MWAIRT001156,138.97,137.94,AIRTEL,0,137.96,138.54,137.98,79004.0,...,1.45,2.81,35.53,47.26,1517780,42722.11,1.100000e+10,9/19/2025,14:37:47,AIRTEL MALAWI PLC
1,1,MWBHL0010029,15.02,15.02,BHL,15.02,0,15.02,15.02,7042.0,...,0.00,-1.55,-64.44,1.36,88291.39,-1370.11,5.878255e+09,9/19/2025,14:37:47,BLANTYRE HOTELS PLC
2,2,MWFDHB001166,637.95,637.91,FDHB,635,637.92,637.95,637.93,101411.0,...,0.74,1.68,59.44,45.2,4402374.87,74063.00,6.901031e+09,9/19/2025,14:37:47,FDH BANK PLC
3,3,MWFMB0010138,1897.99,1897.99,FMBCH,1897.99,0,1897.99,1897.99,15133.0,...,0.19,2.53,39.45,14.18,4665733.92,118254.74,2.458250e+09,9/19/2025,14:37:47,FMB CAPITAL HOLDINGS PLC
4,4,MWICON001146,17.94,17.94,ICON,0,17.94,17.94,17.94,18168.0,...,1.62,20.38,4.91,0.82,119839.2,24424.49,6.680000e+09,9/19/2025,14:37:47,ICON PROPERTIES PLC

In [8]:
load_dotenv()  

PGHOST = os.getenv("PGHOST")
PGPORT = os.getenv("PGPORT", "5432")
PGDATABASE = os.getenv("PGDATABASE", "mse_db")
PGUSER = os.getenv("PGUSER", "geo")
PGPASSWORD = os.getenv("PGPASSWORD", "")

In [9]:
print("PostgreSQL Connection Settings:")
print(f"Host: {PGHOST}")
print(f"Port: {PGPORT}")
print(f"Database: {PGDATABASE}")
print(f"User: {PGUSER}")
print(f"Password: {'[SET]' if PGPASSWORD else '[NOT SET]'}")

PostgreSQL Connection Settings:
Host: localhost
Port: 5432
Database: mse_db
User: geo
Password: [NOT SET]

In [10]:
# Create SQLAlchemy engine (no password needed for local connections)
connection_string = f"postgresql+psycopg2://{PGUSER}:{PGPASSWORD}@{PGHOST}:{PGPORT}/{PGDATABASE}"
print("Connection psql string:", connection_string)

Connection psql string: postgresql+psycopg2://geo:@localhost:5432/mse_db

In [11]:
engine = create_engine(
    connection_string,
    pool_pre_ping=True,
)

# Test the connection
with engine.connect() as conn:
    who = conn.execute(text("SELECT current_user, current_database();")).fetchone()
    print("Connected as:", who)

Connected as: ('geo', 'mse_db')

In [12]:
engine = create_engine(
    connection_string,
    pool_pre_ping=True,
)
# create a table
query = """create table if not exists counters (counter_id text primary key, ticker text not null, name text not null, listing_price real not null, date_listed date not null);"""
with engine.begin() as conn:
    conn.execute(text(query))

In [13]:
df=pd.read_csv(r"C:\Users\Geoffrey-RISA\Documents\GitHub\AIMS-DSCBI-WEEK-3\mse-api-assignment-Geo\data\site_data.csv")
df.head()

               Company Name  Symbol          ISIN  Listing Price Date Listed
0         AIRTEL MALAWI PLC  AIRTEL  MWAIRT001156          12.69   24-Feb-20
1       BLANTYRE HOTELS PLC     BHL  MWBHL0010029           0.84   25-Mar-97
2              FDH BANK PLC    FDHB  MWFDHB001166          10.00   03-Aug-20
3  FMB CAPITAL HOLDINGS PLC   FMBCH  MWFMB0010138          45.01   18-Sep-17
4       ICON PROPERTIES PLC    ICON  MWICON001146           8.75   21-Jan-19

In [14]:
df=pd.read_csv(r"C:\Users\Geoffrey-RISA\Documents\GitHub\AIMS-DSCBI-WEEK-3\mse-api-assignment-Geo\data\site_data.csv")
df.head()
df.columns=['name', 'ticker', 'counter_id', 'listing_price', 'date_listed']
df=df[['counter_id', 'ticker', 'name', 'listing_price', 'date_listed']]
df['date_listed'] = pd.to_datetime(df['date_listed']).dt.date
df['listing_price'] = df['listing_price'].astype(float)
df.head()

C:\Users\Geoffrey-RISA\AppData\Local\Temp\ipykernel_15944\1771115424.py:5: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['date_listed'] = pd.to_datetime(df['date_listed']).dt.date

     counter_id  ticker                      name  listing_price date_listed
0  MWAIRT001156  AIRTEL         AIRTEL MALAWI PLC          12.69  2020-02-24
1  MWBHL0010029     BHL       BLANTYRE HOTELS PLC           0.84  1997-03-25
2  MWFDHB001166    FDHB              FDH BANK PLC          10.00  2020-08-03
3  MWFMB0010138   FMBCH  FMB CAPITAL HOLDINGS PLC          45.01  2017-09-18
4  MWICON001146    ICON       ICON PROPERTIES PLC           8.75  2019-01-21

In [15]:
df.to_sql('counters', engine, if_exists='append', index=False)

IntegrityError: (psycopg2.errors.UniqueViolation) duplicate key value violates unique constraint "counters_pkey"
DETAIL:  Key (counter_id)=(MWAIRT001156) already exists.

[SQL: INSERT INTO counters (counter_id, ticker, name, listing_price, date_listed) VALUES (%(counter_id__0)s, %(ticker__0)s, %(name__0)s, %(listing_price__0)s, %(date_listed__0)s), (%(counter_id__1)s, %(ticker__1)s, %(name__1)s, %(listing_price__1)s, %(date ... 1217 characters truncated ... 4)s), (%(counter_id__15)s, %(ticker__15)s, %(name__15)s, %(listing_price__15)s, %(date_listed__15)s)]
[parameters: {'counter_id__0': 'MWAIRT001156', 'listing_price__0': 12.69, 'ticker__0': 'AIRTEL', 'date_listed__0': datetime.date(2020, 2, 24), 'name__0': 'AIRTEL MALAWI PLC', 'counter_id__1': 'MWBHL0010029', 'listing_price__1': 0.84, 'ticker__1': 'BHL', 'date_listed__1': datetime.date(1997, 3, 25), 'name__1': 'BLANTYRE HOTELS PLC', 'counter_id__2': 'MWFDHB001166', 'listing_price__2': 10.0, 'ticker__2': 'FDHB', 'date_listed__2': datetime.date(2020, 8, 3), 'name__2': 'FDH BANK PLC', 'counter_id__3': 'MWFMB0010138', 'listing_price__3': 45.01, 'ticker__3': 'FMBCH', 'date_listed__3': datetime.date(2017, 9, 18), 'name__3': 'FMB CAPITAL HOLDINGS PLC', 'counter_id__4': 'MWICON001146', 'listing_price__4': 8.75, 'ticker__4': 'ICON', 'date_listed__4': datetime.date(2019, 1, 21), 'name__4': 'ICON PROPERTIES PLC', 'counter_id__5': 'MWILLV010032', 'listing_price__5': 2.25, 'ticker__5': 'ILLOVO', 'date_listed__5': datetime.date(1997, 11, 10), 'name__5': 'ILLOVO SUGAR MALAWI PLC', 'counter_id__6': 'MWMPI0010116', 'listing_price__6': 2.25, 'ticker__6': 'MPICO', 'date_listed__6': datetime.date(2007, 11, 12), 'name__6': 'MALAWI PROPERTY INVESTMENT COMPANY PLC', 'counter_id__7': 'MWNBM0010074', 'listing_price__7': 4.0, 'ticker__7': 'NBM', 'date_listed__7': datetime.date(2000, 8, 21), 'name__7': 'NATIONAL BANK OF MALAWI', 'counter_id__8': 'MWNBS0010105', 'listing_price__8': 2.6, 'ticker__8': 'NBS', 'date_listed__8': datetime.date(2007, 6, 25), 'name__8': 'NBS BANK PLC', 'counter_id__9': 'MWNICO010014', 'listing_price__9': 2.0, 'ticker__9': 'NICO', 'date_listed__9': datetime.date(1996, 11, 11), 'name__9': 'NICO HOLDINGS PLC', 'counter_id__10': 'MWNITL010091', 'listing_price__10': 2.65, 'ticker__10': 'NITL', 'date_listed__10': datetime.date(2005, 3, 21), 'name__10': 'NATIONAL INVESTMENT TRUST PLC', 'counter_id__11': 'ZAE000255360', 'listing_price__11': 1580.22, 'ticker__11': 'OMU', 'date_listed__11': datetime.date(2018, 6, 26), 'name__11': 'OLD MUTUAL LIMITED', 'counter_id__12': 'MWPCL0010053', 'listing_price__12': 14.89, 'ticker__12': 'PCL', 'date_listed__12': datetime.date(2009, 9, 9), 'name__12': 'PRESS CORPORATION PLC', 'counter_id__13': 'MWSTD0010041', 'listing_price__13': 3.25, 'ticker__13': 'STANDARD', 'date_listed__13': datetime.date(1998, 6, 29), 'name__13': 'STANDARD BANK MALAWI PLC', 'counter_id__14': 'MWSTL0010085', 'listing_price__14': 2.6, 'ticker__14': 'SUNBIRD', 'date_listed__14': datetime.date(2002, 8, 21), 'name__14': 'SUNBIRD TOURISM PLC', 'counter_id__15': 'MWTNM0010126', 'listing_price__15': 2.0, 'ticker__15': 'TNM', 'date_listed__15': datetime.date(2008, 11, 3), 'name__15': 'TELEKOM NETWORKS MALAWI PLC'}]
(Background on this error at: https://sqlalche.me/e/20/gkpj)

In [ ]:
# Create prices_daily table
query="""create table if not exists daily_prices (
    counter_id text REFERENCES counters(counter_id),
    trade_date date,
    open_mwk real,
    high_mwk real,
    low_mwk real,
    close_mwk real,
    volume real
    );"""
with engine.begin() as conn:
    conn.execute(text(query))

In [ ]:
df_prices.head()

,Unnamed: 0,counter_id,daily_range_high,daily_range_low,ticker,buy_price,sell_price,previous_closing_price,today_closing_price,volume_traded,...,dividend_yield_pct,earnings_yield_pct,pe_ratio,pbv_ratio,market_capitalization_mkmn,profit_after_tax_mkmn,num_shares_issue,trade_date,print_time,name
0,0,MWAIRT001156,138.97,137.94,AIRTEL,0,137.96,138.54,137.98,79004.0,...,1.45,2.81,35.53,47.26,1517780,42722.11,1.100000e+10,9/19/2025,14:37:47,AIRTEL MALAWI PLC
1,1,MWBHL0010029,15.02,15.02,BHL,15.02,0,15.02,15.02,7042.0,...,0.00,-1.55,-64.44,1.36,88291.39,-1370.11,5.878255e+09,9/19/2025,14:37:47,BLANTYRE HOTELS PLC
2,2,MWFDHB001166,637.95,637.91,FDHB,635,637.92,637.95,637.93,101411.0,...,0.74,1.68,59.44,45.2,4402374.87,74063.00,6.901031e+09,9/19/2025,14:37:47,FDH BANK PLC
3,3,MWFMB0010138,1897.99,1897.99,FMBCH,1897.99,0,1897.99,1897.99,15133.0,...,0.19,2.53,39.45,14.18,4665733.92,118254.74,2.458250e+09,9/19/2025,14:37:47,FMB CAPITAL HOLDINGS PLC
4,4,MWICON001146,17.94,17.94,ICON,0,17.94,17.94,17.94,18168.0,...,1.62,20.38,4.91,0.82,119839.2,24424.49,6.680000e+09,9/19/2025,14:37:47,ICON PROPERTIES PLC

In [16]:
#Extracting only the required fields
df_prices=df_prices[['counter_id','trade_date','open_mwk','daily_range_high', 'daily_range_low','today_closing_price','volume_traded' ]]
df_prices.columns=['counter_id','trade_date','open_mwk','high_mwk','low_mwk','close_mwk','volume']

KeyError: "['open_mwk'] not in index"